@layer std {
    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
        font: inherit;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    pre {
        margin: 0;
    }

    body {
        font-family: "Rubik", sans-serif;
        overflow-x: hidden;
    }
}

.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px); /* 1 */
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%); /* 2 */
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: auto;
    overflow: visible;
    width: auto;
    white-space: normal;
}

.page-wrapper {
    overflow-x: hidden;
}
